<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>aanklewicz</string>
		<key>creation_date</key>
		<date>2015-07-13T17:49:15Z</date>
		<key>munki_version</key>
		<string>2.2.4.2431</string>
		<key>os_version</key>
		<string>10.10.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Information Technology</string>
	<key>description</key>
	<string>Winclone Pro is a utility to image, clone, and restore Boot Camp partitions.</string>
	<key>developer</key>
	<string>TwoCanoes</string>
	<key>display_name</key>
	<string>Winclone Pro 4</string>
	<key>installer_item_hash</key>
	<string>855bb32c9c15e9fb4b7deddab4c8f8cb89602eaf15d2ba8db4315bc2a36d3b52</string>
	<key>installer_item_location</key>
	<string>apps/Twocanoes/WinclonePro4/WinclonePro4-4.4.dmg</string>
	<key>installer_item_size</key>
	<integer>9363</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.twocanoes.Winclone-Pro</string>
			<key>CFBundleName</key>
			<string>Winclone Pro</string>
			<key>CFBundleShortVersionString</key>
			<string>4.4</string>
			<key>CFBundleVersion</key>
			<string>4589</string>
			<key>minosversion</key>
			<string>10.7</string>
			<key>path</key>
			<string>/Applications/Winclone Pro.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Winclone Pro.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7</string>
	<key>name</key>
	<string>WinclonePro4</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>4.4</string>
</dict>
</plist>
