<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>aanklewicz</string>
		<key>creation_date</key>
		<date>2015-11-25T15:42:57Z</date>
		<key>munki_version</key>
		<string>2.4.0.2561</string>
		<key>os_version</key>
		<string>10.11</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Communication</string>
	<key>description</key>
	<string>Transmit is an excellent FTP (file transfer protocol), SFTP, S3 (Amazon.com file hosting) and iDisk/WebDAV client that allows you to upload, download, and delete files over the internet. With the most Mac-like interface available, Transmit makes FTP as simple, fun, and easy as it can possibly be.</string>
	<key>developer</key>
	<string>Panic Inc.</string>
	<key>display_name</key>
	<string>Transmit</string>
	<key>installer_item_hash</key>
	<string>e6c3bdd1ed198ee279e68272ff0d559485166d64ab26a0865f7e30e5af4fcc20</string>
	<key>installer_item_location</key>
	<string>apps/Transmit/Transmit-4.4.10.dmg</string>
	<key>installer_item_size</key>
	<integer>36303</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.panic.Transmit</string>
			<key>CFBundleName</key>
			<string>Transmit</string>
			<key>CFBundleShortVersionString</key>
			<string>4.4.10</string>
			<key>CFBundleVersion</key>
			<string>18660</string>
			<key>minosversion</key>
			<string>10.9</string>
			<key>path</key>
			<string>/Applications/Transmit.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Transmit.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.9</string>
	<key>name</key>
	<string>Transmit</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>4.4.10</string>
</dict>
</plist>
