<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>aanklewicz</string>
		<key>creation_date</key>
		<date>2016-04-08T16:59:37Z</date>
		<key>munki_version</key>
		<string>2.5.1.2627</string>
		<key>os_version</key>
		<string>10.11.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>development</string>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Information Technology</string>
	<key>description</key>
	<string>Managed Software Center application.</string>
	<key>developer</key>
	<string>The Munki Team</string>
	<key>display_name</key>
	<string>Managed Software Center</string>
	<key>installed_size</key>
	<integer>4233</integer>
	<key>installer_item_hash</key>
	<string>b9c21bbd99d035c72f6b0c9fd3af715fa27759eccba4eb3016e88a3a8e8cf61d</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools_app-4.2.2679.pkg</string>
	<key>installer_item_size</key>
	<integer>2984</integer>
	<key>minimum_os_version</key>
	<string>10.6.0</string>
	<key>name</key>
	<string>munkitools</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>4233</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.app</string>
			<key>version</key>
			<string>4.2.2679</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>munkitools_core</string>
		<string>munkitools_launchd</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>4.2.2679</string>
</dict>
</plist>
