<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>aanklewicz</string>
		<key>creation_date</key>
		<date>2016-01-07T14:07:49Z</date>
		<key>munki_version</key>
		<string>2.4.0.2561</string>
		<key>os_version</key>
		<string>10.11</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Multimedia</string>
	<key>description</key>
	<string>Turns your Mac into a TV studio for creating Live to Disk, Live to Internet and Live to Stage video. Record stunning studio shows, podcasts, sports events, concerts, interviews, sermons, seminars and more using your Mac and multiple cameras.</string>
	<key>developer</key>
	<string>Boinx</string>
	<key>display_name</key>
	<string>Boinx Software BoinxTV</string>
	<key>installer_item_hash</key>
	<string>91a7ad0c534d6012e4b5a0b19856545ab3de87013a9dc5e57025a3f3d81d45c6</string>
	<key>installer_item_location</key>
	<string>Boinx/BoinxTV-1.9.13__1.dmg</string>
	<key>installer_item_size</key>
	<integer>53062</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.boinx.BoinxTV</string>
			<key>CFBundleName</key>
			<string>BoinxTV</string>
			<key>CFBundleShortVersionString</key>
			<string>1.9.13</string>
			<key>CFBundleVersion</key>
			<string>17159</string>
			<key>minosversion</key>
			<string>10.6.8</string>
			<key>path</key>
			<string>/Applications/BoinxTV.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>BoinxTV.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6.8</string>
	<key>name</key>
	<string>BoinxTV</string>
	<key>supported_architectures</key>
	<array>
		<string>i386</string>
		<string>x86_64</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.9.13</string>
</dict>
</plist>
