<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>aanklewicz</string>
		<key>creation_date</key>
		<date>2016-03-07T19:57:44Z</date>
		<key>munki_version</key>
		<string>2.5.1.2627</string>
		<key>os_version</key>
		<string>10.11.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Development</string>
	<key>description</key>
	<string>The essential tools for any Java developer, including a Java IDE, a CVS client, Git client, XML Editor, Mylyn, Maven integration...</string>
	<key>developer</key>
	<string>Eclipse Foundation</string>
	<key>display_name</key>
	<string>Eclipse IDE for Java Developers</string>
	<key>installed_size</key>
	<integer>191322</integer>
	<key>installer_item_hash</key>
	<string>733bd59fd64dabc23efc1e9d87d13498649f0293156bd3c80da42f5afa30908d</string>
	<key>installer_item_location</key>
	<string>developer/Eclipse-4.5.2__1.pkg</string>
	<key>installer_item_size</key>
	<integer>170208</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Eclipse</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>191322</integer>
			<key>packageid</key>
			<string>org.eclipse.platform.ide</string>
			<key>version</key>
			<string>4.5.2</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>4.5.2</string>
</dict>
</plist>
